<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Employee Schedule</title>
    <link rel="stylesheet" href="schedule.css">
  </head>
  <body>
    <main id='wrapper'>
      <h2>Add to Schedule</h2>
      <form>
        <input type="text" name="name" placeholder="Name ...">
        <input type="datetime-local" name="start" placeholder="Start Time ...">
        <input type="datetime-local" name="end" placeholder="End Time ...">
        <div id='cancel'>
          <h4><a href='/schedule'>cancel</a></h4>
        </div>
        <div id='save'>
          <button type="submit">save</button>
        </div>
      </form>
    </main>
  </body>
</html>
