<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Manage your inventory</title>
  </head>
  <body>
    <h1>Add Item</h1>
    <form action="/#" method="post">
      <div class="inventoryInput">
        <p>Item Name</p>
        <input type="text" name="item">
        <p>Quantity</p>
        <input type="text" name="quantity">
        <p>Price</p>
        <input type="text" name="price">
      </div>
      <div class="saveButton">
        <button type="submit">Save</button>
      </div>
    </form>
  </body>
</html>
