<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Schedule</title>
  </head>
  <body>
    <h1>Add to Schedule</h1>
    <form method="post" action='/#'>
      <div class="scheduleInput">
        <p>Name</p>
        <input type="text" name="name">
        <p>Start Time</p>
        <input type="text" name="start">
        <p>End Time</p>
        <input type="text" name="end">
      </div>
      <div class="saveButton">
        <button type="submit" name="save">Save</button>
      </div>
    </form>
  </body>
</html>
