<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Employee Schedule</title>
    <link rel="stylesheet" href="schedule.css">
  </head>
  <body>
    <main id='wrapper'>
      <h2>Edit Employee Schedule</h2>
      <form action="/editemployee/{{_id}}" method="post">
        <p>Name</p>
        <input type="text" name="name" value='{{name}}'>
        <p>Start Time</p>
        <input type="datetime-local" name="time_in" value="{{time_in}}">
        <p>End Time</p>
        <input type="datetime-local" name="time_out" value="{{time_out}}">
        <div id='cancel'>
          <h4><a href='/schedule'>cancel</a></h4>
        </div>
        <div id='save'>
          <button type="submit">save</button>
        </div>
      </form>
      <form action='/delete/employee/{{_id}}' method='post'>
        <button class='delete' type='submit'>delete</button>
      </form>
    </main>
  </body>
</html>
