<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Employee Schedule</title>
  </head>
  <body>
    <h2>Employee Schedule</h2>
    <table>
      <tr>
        <td>Name</td>
        <td><a href='#'>edit</a></td>
        <td>In Time</td>
        <td>Out Time</td>
      </tr>
    </table>
    <h3><a href='/addemployee'>Add New Item</a></h3>
  </body>
</html>
