<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Employee Schedule</title>
    <link rel="stylesheet" href="schedule.css">
  </head>
  <body>
    <main id='wrapper'>
      <h2>Employee Schedule</h2>
      {{#schedule}}
      <div class='text'>
        <p>{{name}}</p>
      </div>
      <div class='edit'>
        <p><a href='/editemployee/{{_id}}'>edit</a></p>
      </div>
      <div class="text">
        <p>{{time_in}}</p>
      </div>
      <div class="text">
        <p>{{time_out}}</p>
      </div>
      {{/schedule}}
      <h3><a href='/addemployee'>Add New Item</a></h3>
    </main>
  </body>
</html>
<!--Stefanie-->
