<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inventory</title>
  </head>
  <body>
    <h2>Current Inventory</h2>

    {{#inventory}}
      <div class="container">
        <div>Item:{{item}}</div>
        <div><a href="blank">Edit</a></div>
        <div>Quantity: {{quantity}}</div>
        <div>Price: {{price}}</div>
        <hr>
    {{/inventory}}
      </div>
      <div><a href='/inventorydetail'>Add an Item</a></div>

  </body>
</html>
